<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reqnroll" type="Reqnroll.Configuration.ConfigurationSectionHandler, Reqnroll"/>
  </configSections>
  <appSettings>
    <add key="testProjectFolder" value="ReqnrollTests"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <reqnroll>
    <generator 
      allowDebugGeneratedFiles="true" 
      />
  </reqnroll>
</configuration>
