<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reqnroll" type="Reqnroll.Configuration.ConfigurationSectionHandler, Reqnroll"/>
  </configSections>

  <reqnroll>
    <language feature="en" tool="en" />

    <generator allowDebugGeneratedFiles="false" />
    
    <runtime stopAtFirstError="false"
             missingOrPendingStepsOutcome="Inconclusive" />

    <trace traceSuccessfulSteps="true"
           traceTimings="false"
           minTracedDuration="0:0:0.1"
           coloredOutput="false"
           listener="Reqnroll.Tracing.DefaultListener, Reqnroll"
            />
  </reqnroll>
</configuration>