<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reqnroll" type="Reqnroll.Configuration.ConfigurationSectionHandler, Reqnroll"/>
    <section name="boDi" type="Reqnroll.BoDi.BoDiConfigurationSection, Reqnroll.BoDi"/>
    <section name="testSection" type="Reqnroll.RuntimeTests.BoDi.TestConfigSection, Reqnroll.RuntimeTests.BoDi"/>
  </configSections>

  <reqnroll>
    <language feature="en" tool="en" />

    <generator allowDebugGeneratedFiles="false" />
    
    <runtime stopAtFirstError="false"
             missingOrPendingStepsOutcome="Inconclusive" />

    <trace traceSuccessfulSteps="true"
           traceTimings="false"
           minTracedDuration="0:0:0.1"
           coloredOutput="false"
           listener="Reqnroll.Tracing.DefaultListener, Reqnroll"
            />
  </reqnroll>

  <boDi>
    <register type="Reqnroll.RuntimeTests.BoDi.VerySimpleClass, Reqnroll.RuntimeTests.BoDi" as="Reqnroll.RuntimeTests.BoDi.IInterface1, Reqnroll.RuntimeTests.BoDi"/>
  </boDi>

  <testSection>
    <dependencies>
      <register type="Reqnroll.RuntimeTests.BoDi.VerySimpleClass, Reqnroll.RuntimeTests.BoDi" as="Reqnroll.RuntimeTests.BoDi.IInterface1, Reqnroll.RuntimeTests.BoDi"/>
    </dependencies>
  </testSection>
</configuration>